apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: redefinee-website
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/LevinRobert/k8s-gitops
    targetRevision: main
    path: redefinee-website

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
